.impression_1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video styling */
.impression_1-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}
/* Dark overlay for readability */
.impression_1::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

/* Text content */
.impression_1-overlay {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 2;
    color: white;
    text-align: center;

    width: 100%; 
}
/* Heading */
.impression_1-overlay h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.impression_1-overlay span {
    color:  purple;
}

.impression_1-overlay h1 span {
    color: purple;
}
/* Subtext */
.impression_1-overlay p {
    font-size: 18px;
    margin-bottom: 25px;
    color: #ddd;
}

/* Buttons */
.impression_1-buttons {
    display: flex;
    gap: 20px;
    justify-content: center; 
    align-items: center;
}

/* Button base */
.btn {
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block; 
    width: auto;
    transition: all 0.3s ease;
    text-decoration: none
}

/* Primary button */
.btn.primary {
    background: transparent;
    color:  purple;;
    border: 2px solid  purple;;
}

.btn.primary:hover {
    background:  purple;;
    color: white;
}

/* Secondary button */
.btn.secondary {
    border: 2px solid purple;;
    color:  purple;;
}

.btn.secondary:hover {
    background: purple;;
    color: white;
}

#intro {
    position: fixed;
    inset: 0;
    background: radial-gradient(circle, #000 40%, #0a0a0a 100%);
    z-index: 9999;
    overflow: hidden;

    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

#three-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    color: white;
    font-size: 40px;
    letter-spacing: 3px;
    opacity: 0;

    animation: fadeIn 2s ease forwards;
    transition: opacity 1s ease;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}