<!DOCTYPE html>
<html>
<head>
    <title>FRIENDS ADVERTISING</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testimonials.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="{{ url_for('static', filename='js/intro.js') }}"></script>
    <script src="{{ url_for('static', filename='js/testimonials_rotate.js') }}"></script>
    <script>
        window.addEventListener("load", () => {
            document.body.classList.add("loaded");
        });
    </script>
</head>
<body>

<nav class="navbar">
    <div class="nav-left">
       <div class="logo">
        <span class="logo-main">FRIENDS</span>
        <span class="logo-sub">Advertising Agency</span>
    </div>
    </div>

    <div class="nav-right">
        <a href="{{ url_for('home') }}" class="nav-link {{ 'active' if request.endpoint == 'home' else '' }}">Home</a>
        <a href="{{ url_for('about') }}" class="nav-link {{ 'active' if request.endpoint == 'about' else '' }}">About Us</a>
        <a href="{{ url_for('testimonials') }}" class="nav-link {{ 'active' if request.endpoint == 'testimonials' else '' }}">Testimonials</a>
        <a href="{{ url_for('portfolio') }}" class="nav-link {{ 'active' if request.endpoint == 'portfolio' else '' }}">Portfolio</a>
        <a href="{{ url_for('contact') }}" class="nav-link {{ 'active' if request.endpoint == 'contact' else '' }}">Contact Us</a>
    </div>
    
</nav>
    {% block content %}{% endblock %}


</body>
</html>